pandas==2.2.3
numpy
statsmodels==0.14.4
langchain_community==0.3.14
langchain==0.3.14
openai==1.61.1
streamlit==1.41.1
scikit-learn
joblib==1.4.2
tqdm==4.67.1
dask==2024.12.1
scipy==1.15.0
pillow==11.1.0